@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(https://i.imgur.com/XE6eH9p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

